/* aside>div{
    background-image: url("../resources/saving.png");
    width: 100%;
    height: 100%;
} */

#nav-item-container{
    display: flex;

    align-items: center;

    padding: .5rem;
}

#nav-item-container *{
    margin-right: 1rem;
}


#home-logo{
    height: 3rem;
}