body{
    display: grid;
    grid: 4rem auto 300px auto / 1fr 500px 500px 1fr;

    grid-template-areas:
    "header header header header"
    ". main . ."
    ". . aside ."
    ". . . .";
}

header{
    grid-column-start: span 4;
    grid-area:header;

    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    
    height: 4rem;
    background-color: rgb(11,90,76);
}

nav{
    grid-column-start: 2;
    grid-row-start: 1;
}

nav *{
    margin-right: 1rem;
}

main{
    grid-area: main;
}

aside{
    grid-area: aside;
}

